<!-- home.html -->

{% extends "base.html" %}{% block title%}Home{% endblock %}
{% block content%}
<main class="flex justify-center items-center overflow-y-hidden mb-20 ml-10">
  <section class="mx-auto p-4  rounded">
    <header>
      </header>
      <div class="my-3">
        <h1 class="text-4xl font-bold m-2 text-center text-slate-900 uppercase"> Most Popular Recommended Movies</h1>
        <div class="grid grid-cols-5 gap-2">
          {% for idx, movie_popular in popular_movies %}
          <div class="col-span-1 flex flex-col h-90 rounded-lg bg-slate-900 p-2">
              <div class="flex-1 rounded-t-lg ">
                  <a href="{{ movie_page_urls_pop[idx] }}">
                      <img src="{{ movie_posters_popular[idx][0] }}" alt="{{ movie_popular['original_title'] }} poster" class="w-full object-cover">
                      <h6 class="text-sm font-semibold text-orange-500 truncate">{{ movie_popular['original_title'] }} </h6>
                    </a>
                  <div class="overflow-y-hidden text-blue-100 text-xs">
                    <p class="">People voted: {{movie_popular['popularity'] | round(0) }} </p>
                    <div class="flex flex-row " id="oneCol">
                      <div class="flex-auto">  {{ movie_posters_popular[idx][1] }} </div>     
                      <div class="flex-auto  mx-4 border-slate-500">{{ movie_posters_popular[idx][2]}} min</div>
                  </div>
                  <div>
                    {% if current_user.is_authenticated %}
                <div>
                    <p class="font-medium">Your rating: {{ movie_popular['rating'] | default('no rating', 0) }} / 5.0</p>    
                </div>
                {% endif %}
                  </div>
                  </div>
                  <form action="{{ url_for('views.movie_wishlist', movie_id=movie_popular['id']) }}" method="post" class="mt-auto text-center text-sm ">
                    <button type="submit" id="wishlist_add" name="wishlist_add" class="bg-orange-600 hover:bg-orange-900 text-white font-bold py-1 px-1 rounded my-1">Add to wishlist</button>
                  </form>
                 </div>
          </div>
        {% endfor %}
        </div>
      </div>


      <div class="my-3">
        <h1 class="text-4xl font-bold m-2 text-center text-slate-900 uppercase">best Rated Recommended Movies</h1>
        <div class="grid grid-cols-5 gap-2">
          {% for idx, best_movie in best_movies %}
          <div class="col-span-1 flex flex-col h-90 rounded-lg bg-slate-900 p-2">
              <div class="flex-1 rounded-t-lg ">
                  <a href="{{ movie_page_urls[idx] }}">
                      <img src="{{ movie_posters[idx][0] }}" alt="{{ best_movie['original_title'] }} poster" class="w-full object-cover">
                      <h6 class="text-sm font-semibold text-orange-500 truncate">{{ best_movie['original_title'] }} </h6>
                    </a>
                  <div class="overflow-y-hidden text-blue-100 text-xs">
                    <p class="">Rating: {{best_movie['score'] | round(1)}} / 10</p>
                    <div class="flex flex-row " id="oneCol">
                      <div class="flex-auto">  {{ movie_posters[idx][1] }} </div>     
                      <div class="flex-auto  mx-4 border-slate-500">{{ movie_posters[idx][2]}} min</div>
                  </div>
                  
                  <div>
                    {% if current_user.is_authenticated %}
                    <p class="font-medium">Your rating: {{ best_movie['rating'] | default('no rating', 0) }} / 5.0</p>    
                    {% endif %}
                  </div>

                  </div>
                  <form action="{{ url_for('views.movie_wishlist', movie_id=best_movie['id']) }}" method="post" class="mt-auto text-center text-sm ">
                    <button type="submit" id="wishlist_add" name="wishlist_add" class="bg-orange-600 hover:bg-orange-900 text-white font-bold py-1 px-1 rounded my-1">Add to wishlist</button>
                  </form>
              </div>
          </div>
        {% endfor %}
        </div>
  
      </div>


  </section>
</main>
{% endblock %}