<!---search_movie.html-->
<!-- using base template -->
{% extends "base.html" %}{% block title%}Movie Search{% endblock %}

{% block content%}
<section class="flex  justify-center items-center overflow-y-hidden mb-20 ml-10">
  <div class=" overflow-y-auto">
    <header>
      <h2 class="text-slate-900 text-center font-bold justify-center text-4xl my-2"> Movie Recommendation System</h2>
    </header>
    <div>
      <form method="POST" class="items-center justify-center mx-10">
        <h3 class="text-slate-900 font-semibold text-xl">What movie would you like to search for</h3>
        <div class="relative text-center">
          <input 
          type="text" 
          id="name" 
          name="name" 
          placeholder="Enter movie title"
          class="min-h-[auto] bg-slate-100 my-5 w-5/6 h-10 rounded border-0 px-3">
          <button type="submit"
          class="w-80 h-10 rounded bg-orange-600 hover:bg-orange-900 mb-5 px-7 pb-2 pt-2 text-lg font-semibold uppercase  text-white">
         Get Recommendation
        </button>
        </div>
      </form>
      <h1 class="text-slate-900 text-center justify-center text-2xl">You searched for:  {{ name }}</h1>
    </div>
    <br>

    <div class="grid grid-cols-5 gap-4">
      {% for i in range(12) %}
      <div class="col-span-1 flex flex-col h-90">
        {% if i < recommendations_poster|length and i < movie_page_urls|length and i < movie_name_req|length and i < recommended_movie_ids|length %}
          <!-- Display movie recommendations -->
          <div class="flex-1  bg-slate-900 p-2  rounded-lg">
            <a href="{{ movie_page_urls[i] }}">
              <img src="{{ recommendations_poster[i] }}" alt="Recommendation Image" class="w-full object-cover" />
              <h6 class="text-md font-semibold text-orange-500 truncate">{{ movie_name_req[i] }}</h6>
          </a>
              <div class="overflow-y-auto text-blue-100">
                <p class="text-sm">Release Date: {{ movie_release_dates[i] }}</p>
                <p class="text-sm">Runtime: {{ movie_runtimes[i] }} min</p>
              </div>
              <div>
                <p class="font-medium text-blue-100">Your rating: {{ rating_value[i]  | default('error', 0) }} / 5.0</p>    
              </div>
              <form action="{{ url_for('views.movie_wishlist', movie_id=recommended_movie_ids[i]) }}" method="post" class="mt-auto text-center text-sm">
                <button type="submit" id="wishlist_add" name="wishlist_add" class="bg-orange-600 hover:bg-orange-900 text-white font-bold py-2 px-4 rounded my-1">Add to wishlist</button>
              </form>
          </div>
          
        {% else %}
          <!-- <p class="text-gray-500">No recommendation available</p> -->
        {% endif %}
      </div>
    {% endfor %}
    </div>

  </div>
</section>
{% endblock%}